.reveal .slide-logo {
  height: 150px !important;
  width: 270px !important;
  max-width: unset !important;
  max-height: unset !important;
}

a {
    color: RoyalBlue !important; /* This makes all links blue */
}